body {
  font-family: 'Open Sans', sans-serif;
}

.jumbotron {
  padding-top: 10px;
  padding-bottom: 20px;
}

a {
  color: #009878;
}

a:hover {
  color: #00CCA0;
}

.list {
  text-align: center;
  background-color: #00CCA0;
  color: white;
  padding-top: 10px;
  padding-bottom: 2px;
  margin: 20px;
  font-size: 18px;
  border-radius: 5px;
}

.list:hover {
  color: white;
  background-color: #0B7F67;
}

.list a {
  display: block;
  color: white;
}

.list a:hover {
  text-decoration: underline;
  color: white;
}

p {
  font-size: 16px;
}
