<!DOCTYPE html>
<html>
  <head>
    <title>Band Venues</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/app.css'>
  </head>
  <body>
    <div class='container'>
      <div class="jumbotron">
        <h1>Band Venues</h1>
        <p><a href="/">Add Bands &amp; Venues</a> | <a href="/bands">View All Bands</a> | <a href="/venues">View All Venues</a></p>
      </div>

      #parse( $template )

    </div>
  </body>
</html>
