<h2>$venue.getLocation()</h2>
<hr>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h3>Bands That Played This Venue</h3>
    <hr>
    #foreach ($band in $bands)
    <div class="list">
      <p><a href="/bands/$band.getId()">$band.getName()</a></p>
    </div>
    #end
  </div>
  <div class="col-md-2">
  </div>
</div>
